.welcome-section {
  h1 {
    font-size: calc(70px + 1.2vw);
    margin: 1rem 0;
    text-align: center;
  }
  .header-image {
    width: 100%;
    // width: auto;
    // height: 1300px;
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: cover;
    object-position: center center;
  }
  .countdown-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    font-size: calc(40px + 1.2vw);
    .countdown {
      background: linear-gradient(
        90deg,
        rgba(248, 44, 153, 0.9) 0%,
        rgba(48, 213, 200, 0.9) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    @media screen and (min-width: 810px) {
      font-size: calc(80px + 1.2vw);
    }
  }
}
