.welcome-section {
  .header-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: none;
  }
  h1 {
    text-align: center;
  }
  //   background-image: url(../assets/header-image.png);
  //   background-size: cover;
}
